[Unit]
Description=GPT POC Backend Service

[Service]
type=simple
ExecStart=/workspaces/gpt-poc/backend/Makefile
ProtectHome=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target