[Unit]
Description=GPT POC Backend Service

[Service]
type=simple
ExecStart=/usr/bin/env gpt-poc-backend
ProtectHome=true
ProtectSystem=strict
StateDirectory=gpt-poc

[Install]
WantedBy=multi-user.target
