websockets~=11.0.3

PyYAML~=6.0

langchain~=0.0.219

elasticsearch~=8.8.0

openai~=0.27.7

aiohttp==3.8.4

peewee~=3.16.2

setuptools~=68.0.0

stdeb

rich

typesense

deepl~=1.15.0

transformers

pydantic==1.10.12

sentence-transformers

qdrant_client